:root {
    --bg-color: #E1ECEB;
    --dark-green: #3D5554;
    --yellow: #C99C33;
    --white: #ffffff;

    --bg-eight: #A4449A;
    --bg-six: #F89728;
    --bg-three: #0171C1;
    --text-one: #006B92;
    --bg-seventeen: #00008E;
    --text-seventeen: #FFFF4F;

    --page-width: 2560px;
    --page-height: 1600px;

    --box-width: 1145px;
    --box-small-height: 665px;
    --box-large-height: 1420px;
}


body {
    background: var(--bg-color);
    font-family: Josefin Sans;
    margin: 0;
}

.grid-container {
    max-width: var(--page-width);
    max-height: var(--page-height);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 90px;
    padding: 90px;
    overflow: hidden;
  }
  
  .box {
    background: var(--dark-green);
    border-radius: 0px;
    border: 5px solid black;
    box-shadow: -8px 8px black;
    box-sizing: border-box;
  }
  
  .box-1 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: var(--box-width);
    height: var(--box-small-height);
    
    justify-items: center;
    align-content: center;
  }
  
  .box-2 {
    grid-area: 1 / 2 / span 2 / span 1; 
    width: var(--box-width);
    

    
    background: var(--white);
  }
  
  .box-3 {
    grid-area: 2 / 1 / span 1 / span 1; 
   
    width: var(--box-width);
    height: var(--box-small-height);
  }

  
  #time {
    font-size: 400px;
    color: var(--white);
    display: inline-block;
  }
  #date {
    font-size: 100px;
    color: var(--yellow)
  }






  